<app-loading *ngIf="isLoading"></app-loading>
<div id="search" class="wrapper" style="margin-top: 60px;">
    <form style="top:0;" class="form-inline fieldSearch position-fixed" novalidate>
        <input #textSearch
                #searchComic
                class="form-control form-control col-md-12"
                (click)="textSearch.value=''"
                (keyup)="filterItems(textSearch.value); textSearch.value.length>0 ? isActiveSearch=true : isActiveSearch=false;"
                (keypress)="$event.keyCode == 13 ? initSearch(textSearch.value, 10, 0, true, false, false) : ''"
                placeholder="Search comics: spider, daredevil, hulk, deadpool... "
                aria-label="Search">
        <a routerLink="/comics" class="ico-search position-absolute">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a href="javascript:void(0)"
            class="ico-search ico-right position-absolute"
            (click)="initSearch(textSearch.value, 10, 0, true, false, false)">
            <i class="fas fa-search"></i>
        </a>
        <div *ngIf="isActiveSearch" class="position-fixed box-selected">
            <div class="mb-2">
                <h5>Suggestions</h5>
            </div>
            <div class="box-scroll-area">
                <ul class="notranslate">
                    <li *ngFor="let list of resultSelect"
                        (click)="initSearch(list, 10, 0, true, false, false); textSearch.value=list; isActiveSearch=false">
                        <a href="javascript:void(0)">
                            <img width="100%" src="{{ list.image }}" alt="">
                            {{ list }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    <!-- <form class="example-form">
        <mat-form-field class="example-full-width">
            <input type="text"
                placeholder="Search comics: spider, daredevil, hulk, deadpool... "
                aria-label="Number"
                (keypress)="$event.keyCode == 13 ? initSearch(myControl.value, 10, 0, true) : ''"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form> -->

    <div id="scroll-seachComic" *ngIf="comicsList.length && !searchHome"> 
        <div class="main-container"
            infiniteScroll
            [infiniteScrollDistance]="1.5"
            [infiniteScrollThrottle]="300"
            [infiniteScrollContainer]="scroll-seachComic"
            (scrolled)="onScrollDownSearchComic()">   
            <app-marvel-list [dataList]="comicsList" [pageLink]="characterLink"></app-marvel-list>
        </div>
    </div>
    
    <div *ngIf="comicsHomeList.length && searchHome">
        <div class="home-search">
            <!-- <h2>Search Comics</h2>
            <hr> -->
            <!-- <div>
                <img width="100%" src="assets/images/marvel-comics.jpg" alt="">
            </div> -->
            <div class="box-thumbnails">
                <div class="figure" *ngFor="let list of comicsHomeList" (click)="initSearch(list.title, 10, 0, true, false, false); textSearch.value=list.title">
                    <img width="100%" src="{{list.image}}" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<app-dropdown [pagesList]='pagesScrollList'
    [pagesView]='totalPagesSelected'
    *ngIf="isOpenPages"
    (changePage)="changePageInSearch($event); updateDataComics($event)">
</app-dropdown>
<app-footer [totalResults]='totalComics'
    (togglePages)="showHideSelectedPage()"
    [countList]='searchOffset'
    [links]='linksSearchComic'>
</app-footer>