<app-navbar [detectScrollDown]="scrollDownActive"></app-navbar>
<app-loading *ngIf="isLoading"></app-loading>
<div class="wrapper">
  <app-button
    [totalList]="totalView"
    [textInfo]="textInfoBar"
    [detectScrollDown]="scrollDownActive"
    (toggleScroll)="toggleEnabledScrol($event)"
    (toggleEnable)="toggleEnabledComics($event)">
  </app-button>

  <form [ngClass]="{ isScrolDown: scrollDownActive }" routerLink="/search" class="form-inline fieldSearch position-fixed" novalidate>
        <input #textSearch route
                class="form-control form-control col-md-12"
                (keyup)="initSearch(textSearch.value)"
                (click)="textSearch.value=''"
                placeholder="Search comics"
                aria-label="Search">
        <a href="javascript:void(0)" class="ico-search position-absolute"><i class="fas fa-search"></i></a>
    </form>
  

  <div class="main-container"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollUpDistance]="1.5"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScrollDown()">
        <app-marvel-list [dataList]="comicsList" [pageLink]="comicLink"></app-marvel-list>
  </div>
  <!-- TODO export Paginator to component -->
  <div *ngIf="!isScroll" (click)="onActivate($event)" class="text-center">
      <ul>
          <li style="list-style: none;"
              *ngFor="let item of comicsList | paginate: { itemsPerPage: count, currentPage: currentPage, totalItems: total-2}"> 
          </li>
      </ul>
      <pagination-controls maxSize="12" (pageChange)="pageChange($event)"></pagination-controls>
  </div>
</div>
<app-dropdown [pagesList]='pagesScrollList'
    [pagesView]='totalPagesSelected'
    *ngIf="isOpenPages"
    (changePage)="getComics($event, 10, false); updateDataComics($event)">
</app-dropdown>
<app-footer [totalResults]='totalView'
    (togglePages)="showHideSelectedPage()"
    [countList]='offset'
    [links]='linksComic'></app-footer>