<!-- Todo change to new component -->
<div class="wrapper">
    <div class="row">
        <div class="col-md-4">
            <img class="card-img" [src]="dataImage" alt="{{ characterData.title }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ characterData.name }}</h5>
                <p class="card-text">{{ characterData.description }}</p>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>