<div class="footer bg-dark p-2 position-fixed">
  <div class="row">
    <div class="col-md-12 clearfix">
      <button *ngIf="totalResults"
              type="button"
              class="btn  btn-outline-secondary btn-sm btn-count notranslate">
              <span *ngIf="links && links.comic"><small>Load </small><strong>{{ countList +'/'+ totalResults}}</strong><small> Total {{links.comic}}</small></span>
              <span *ngIf="links && links.character"><small>Load </small><strong>{{ countList +'/'+ totalResults}}</strong><small> Total {{links.character}}</small></span>
      </button>
      <!-- <button *ngIf="offset" 
              type="button"
              class="btn btn-outline-danger btn-sm btn-count mr-2">
        Total for End <span class="badge badge-light">{{ totalList }}</span>
      </button>
      <button *ngIf="offset"
              type="button"
              class="btn btn-outline-danger btn-sm btn-count">
        Total <span class="badge badge-light">{{ offset }}</span>
      </button> -->
      <div class="float-right box-links">
          <a *ngIf="links && links.character && links.characterHome" class="badge badge-light m-2" routerLink="/characters" >
            <i class="fas fa-chevron-left"></i> Characters
          </a>
          <a *ngIf="links && links.comic && links.comicHome" class="badge badge-light m-2" routerLink="/comics">
            <i class="fas fa-chevron-left"></i> Comics
          </a>
          <a class="badge badge-light m-2 badge-top" (click)="onActivate($event)"><i class="fas fa-angle-up"></i></a>
      </div>
    </div>
  </div>
</div>