<!-- Todo change to new component -->
<app-navbar></app-navbar>

<div class="wrapper">
  <div class="row">
    <div class="col-md-4">
        <img class="card-img" [src]="dataImage" alt="{{ comicData.title }}">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{ comicData.title }}</h5>
            <p class="card-text">{{ comicData.description }}</p>
            <p class="card-text">
                <app-links-marvel [link]='comicData' [isInfoPage]='true'></app-links-marvel>
            </p>
          </div>
    </div>
  </div>
</div>

<app-footer [links]='linksComic'></app-footer>