body {
    min-height: 800px;
}
.home-container {
    background: #232528 url('../src/assets/images/marvel-bg.png') 0 bottom no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
    min-height: 1200px;
}
.home-menu {
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.home-menu .text-menu {
    transition: .3s .3s ease;
    position: absolute;
    background:#353535bd;
    color: #dddddd;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
}
.home-menu:hover .text-menu {
    opacity: 1;
}
.home-menu h1 {
    margin-top: 60%;
    text-transform: uppercase;
    text-shadow: -3px 7px 3px #000;
}
.wrapper {
    margin: 100px 20px;
}
.info-container {
    margin-top: 80px;
}
.info-container .btn-sm {
    max-width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dataInfo {
    margin-top: 0;
}
.wrapper .card {
    transition: all .3s .3s ease;
    cursor: pointer;
}
.wrapper .card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 9px 2px #0006;
}
.wrapper .card .card-text .btn {
    transition: all .3s .3s ease;
}
.wrapper .card:hover .card-text .btn {
    opacity: 1;
}
.nav-brand_text {
    padding: 5px 6px 9px;
    background-color: #595959;
    margin-left: -1px;
    font-weight: bold;
    color: #8f8b8b;
    text-shadow: 2px 0px 1px #281f1fa6;
}

.search-results {
    height: 20rem;
    overflow: scroll;
}

.info-bar {
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 3px #0000002b;
    border-radius: 20px;
}

@media (min-width: 980px){
    .wrapper .card-columns {
        -webkit-column-count: 4;
        column-count: 4;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}

/**
* Button
**/
.col-sm-12 .btn-toggle {
    background-color: #d65345;
    margin: 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #bdc1c8;
}

.btn-toggle:before, .btn-toggle:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
}
.btn-toggle:before {
    content: 'Off';
    left: -4rem;
}
.btn-toggle:after {
    content: 'On';
    right: -4rem;
    opacity: 0.5;
}
.btn-toggle > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s;
}

.btn-toggle.active > .handle {
    left: 1.6875rem;
    transition: left 0.25s;
}

.btn-toggle.active {
    background-color: #d65345;
}
.btn-toggle.active {
    transition: background-color 0.25s;
}
.btn-toggle:focus, .btn-toggle.focus, .btn-toggle:focus.active, .btn-toggle.focus.active {
    outline: none;
}

.btn-toggle:before, .btn-toggle:after {
    color: #6b7381;
} 

.btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(2,117,216,.25);
    box-shadow: 0 0 0 2px rgba(2,117,216,.25);
}

.btn-toggle.active:before {
    opacity: 0.5;
}
.btn-toggle.active:after {
    opacity: 1;
}

.wrapper .dropdown .dropdown-toggle {
    width: 100%;
    font-size: 13px;
    border-radius: 0;
    background-color: #2d3032;
}
.wrapper .dropdown-box {
    left: 0;
    top: 64px;
    z-index: 99;
    font-size: 11px;
}
.wrapper .dropdown-box .dropdown-menu {
    transform: translate3d(0px, 28px, 0px) !important;
}

/**
* Loading
**/
.loading {
    position: fixed;
    bottom: 100px;
    left: 50%;
    z-index: 999;
    margin-left: -24px;
}
.loading .fa-sync {
    font-size: 3rem;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.ngx-pagination {
    padding: 20px 0;
    margin-top: 20px;
}

.footer {
    bottom: 0;
    width: 100%;
    font-size: 11px;
}
.footer .badge {
    cursor: pointer;
}
.footer .box-links .badge {
    font-size: 100%;
}
.footer .btn-count {
    font-size: 11px;
    margin-top: 5px;
}
.footer .box-links .badge-top {
    padding: 0 10px;
    font-size: 20px;
    vertical-align: middle;
}
.main-badge {
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
}

.box-list {
    max-height: 150px;
    overflow-x: auto;
}
.box-list .list-group-item {
    font-size: 13px;
    padding: 5px 10px;
}
app-navbar .navbar {
    /* display: none; */
    transition: .3s .3s ease;
    top: -9999px;
}
.navbar .btn-count span {
    display: block;
    margin-top: 5px;
    font-size: 11px;
}
.ico-search {
    font-size: 20px;
    /* color: #db5454; */
    color: #bfbfbf;
    top: 14px;
    right: 18px;
}
#search .ico-search {
    top: 14px;
    left: 18px;
    right: initial;
}
#search .form-control {
    padding-left: 30px;
}
.fieldSearch {
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 10px;
    background: #ffffff;
}
.fieldSearch .form-control:focus {
    color: #495057;
    background-color: #fdefef;
    border-color: #db5454;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(252, 242, 242);
}
.fieldSearch .form-control:focus ~ .ico-search {
    color: #db5454;
}
.navbar.isScrolDown {
    top: 0;
}
.wrapper .dropdown-box {
    transition: .3s .3s ease;
    top: -9999px;
}
.dropdown.isScrolDown {
    top: 64px;
}
app-characters .fieldSearch, app-comics .fieldSearch {
    transition: .3s .3s ease;
    top: -9999px;
}
app-characters .fieldSearch.isScrolDown, app-comics .fieldSearch.isScrolDown {
    top: 0;
}