@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    min-height: 800px;
}
.home-container {
    background: #232528 url('../src/assets/images/marvel-bg.png') 0 bottom no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
    min-height: 1200px;
}
.home-menu {
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.home-menu .text-menu {
    transition: .3s .3s ease;
    position: absolute;
    background:#353535bd;
    color: #dddddd;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
}
.home-menu:hover .text-menu {
    opacity: 1;
}
.home-menu h1 {
    margin-top: 60%;
    text-transform: uppercase;
    text-shadow: -3px 7px 3px #000;
}
.wrapper {
    margin: 100px 20px;
}
.info-container {
    margin-top: 80px;
}
.info-container .btn-sm {
    max-width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dataInfo {
    margin-top: 0;
}
.wrapper .card {
    transition: all .3s .3s ease;
    cursor: pointer;
}
.wrapper .card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 9px 2px #0006;
}
.wrapper .card .img-area {
  height: 288px;
  overflow: hidden;
}
.wrapper .card .card-text .btn {
    transition: all .3s .3s ease;
}
.wrapper .card:hover .card-text .btn {
    opacity: 1;
}
.nav-brand_text {
    padding: 5px 6px 9px;
    background-color: #595959;
    margin-left: -1px;
    font-weight: bold;
    color: #8f8b8b;
    text-shadow: 2px 0px 1px #281f1fa6;
}

.search-results {
    height: 20rem;
    overflow: scroll;
}

.info-bar {
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 3px #0000002b;
    border-radius: 20px;
}

@media (min-width: 980px){
    .wrapper .card-columns {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
        max-width: 1180px;
        margin: 80px auto;
    }
}

/**
* Button
**/
.col-sm-12 .btn-toggle {
    background-color: #d65345;
    margin: 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #bdc1c8;
}

.btn-toggle:before, .btn-toggle:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
}
.btn-toggle:before {
    content: 'Off';
    left: -4rem;
}
.btn-toggle:after {
    content: 'On';
    right: -4rem;
    opacity: 0.5;
}
.btn-toggle > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s;
}

.btn-toggle.active > .handle {
    left: 1.6875rem;
    transition: left 0.25s;
}

.btn-toggle.active {
    background-color: #d65345;
}
.btn-toggle.active {
    transition: background-color 0.25s;
}
.btn-toggle:focus, .btn-toggle.focus, .btn-toggle:focus.active, .btn-toggle.focus.active {
    outline: none;
}

.btn-toggle:before, .btn-toggle:after {
    color: #6b7381;
}

.btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(2,117,216,.25);
    box-shadow: 0 0 0 2px rgba(2,117,216,.25);
}

.btn-toggle.active:before {
    opacity: 0.5;
}
.btn-toggle.active:after {
    opacity: 1;
}

.wrapper .dropdown .dropdown-toggle {
    width: 100%;
    font-size: 13px;
    border-radius: 0;
    background-color: #2d3032;
}
.wrapper .dropdown-box {
    left: 0;
    top: 64px;
    z-index: 99;
    font-size: 11px;
}
.wrapper .dropdown-box .dropdown-menu {
    transform: translate3d(0px, 28px, 0px) !important;
}

/**
* Loading
**/
.loading {
    position: fixed;
    bottom: 60px;
    left: 50%;
    z-index: 999;
    margin-left: -16px;
}
.loading .fa-sync {
    font-size: 2rem;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.ngx-pagination {
    padding: 20px 0;
    margin-top: 20px;
}

.footer {
    bottom: 0;
    width: 100%;
    font-size: 11px;
}
.footer .badge {
    cursor: pointer;
}
.footer .box-links .badge {
    box-shadow: 2px 2px 3px #000;
    font-size: 100%;
    background: #484848;
}
.footer .box-links .badge .fa-search {
    font-size: 16px;
    color: #262626;
    position: relative;
    top: 4px;
}
.footer .btn-pages {
    border-radius: 50%;
    margin: 0 5px;
    width: 30px;
    height: 30px;
}
.footer .box-links .badge-top {
    font-size: 100%;
    background: #484848;
    width: 30px;
    height: 30px;
    vertical-align: top;
    margin: 0 5px;
    border-radius: 50%;
}
.footer .btn-pages.activeLink {
    background: #f8f9fa;
}
.footer .btn-count {
    font-size: 11px;
    margin-top: 5px;
}
.footer .btn-count span small {
    color:#ffbbbb;
}
.footer .btn-count span strong {
    background: #f8f9fa;
    padding: 5px;
    box-shadow: inset 0px 0px 5px #00000047;
    border-radius: 2px;
    text-shadow: 0 0px 0px #0000006b;
    margin: 0 4px;
}
.footer .box-links .fa-angle-up {
    font-size: 24px;
}
.footer .btn-outline-secondary {
    color: #c85e5e;
    /* border-color: #c85e5e; */
    border-color: #484848;
    background-color: #484848;
    box-shadow: 2px 0px 2px #000000a3;
}
.footer .btn-outline-secondary:not(:disabled):not(.disabled):active, .footer .btn-outline-secondary:hover {
    border-color: #c85e5e;
    color: #c85e5e;
    border-color: #484848;
    background-color: #484848;
    outline: 0;
    box-shadow: 2px 0px 2px #000000a3;
}
.footer .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.footer .btn-outline-secondary.focus, .btn-outline-secondary:focus,
.footer .btn.focus, .btn:focus {
    box-shadow: 2px 0px 2px #000000a3;
    outline: 0;
}
.main-badge {
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
}

.box-list {
    max-height: 150px;
    overflow-x: auto;
}
.box-list .list-group-item {
    font-size: 13px;
    padding: 5px 10px;
}
app-navbar .navbar {
    transition: .3s .3s ease;
    top: -9999px;
}
.navbar .btn-count span {
    display: block;
    margin-top: 5px;
    font-size: 11px;
}
.ico-search {
    font-size: 20px;
    color: #bfbfbf;
    top: 14px;
    right: 18px;
}
#search .ico-search {
    top: 14px;
    left: 12px;
    right: initial;
    display: inline-block;
    padding: 0 8px;
}
#search .ico-right {
    top: 18px;
    left: initial;
    right: 10px;
    font-size: 14px;
}
#search .form-control {
    padding-left: 30px;
    font-size: 11px;
}
.fieldSearch {
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 10px;
    background: #ffffff;
}
.fieldSearch .form-control:focus {
    color: #495057;
    background-color: #fdefef;
    border-color: #db5454;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(252, 242, 242);
}
.fieldSearch .form-control:focus ~ .ico-search {
    color: #db5454;
}
.navbar.isScrolDown {
    top: 0;
}
.wrapper .dropdown-box {
    transition: .3s .3s ease;
    top: -9999px;
}
.dropdown.isScrolDown {
    top: 64px;
}
app-characters .fieldSearch, app-comics .fieldSearch {
    transition: .3s .3s ease;
    top: -9999px;
}
app-characters .fieldSearch.isScrolDown, app-comics .fieldSearch.isScrolDown {
    top: 0;
    box-shadow: 0px 1px 7px #000000ab;
}

.box-selected {
    width: 100%;
    background: #ffffffb3;
    padding: 10px;
    left: 0;
    top: 50px;
    font-size: 13px;
    height: calc(100% - 102px);
    box-shadow: -2px 3px 3px #0000009c;
    border-radius: 0 0 5px 5px;
    text-align: center;
}
.box-scroll-area {
    overflow-y: scroll;
    height: calc(100% - 66px);
}
.box-selected ul {
    padding: 0;
}
.box-selected li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    background: #bd8685;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #0000002e;
    padding: 5px 10px;
    width: auto;
    /* new style for selected  */
    /* background: white;
    width: 30%;
    vertical-align: middle; */
}
.box-selected li a {
    color: #ffffff;
    /* new style for selected  */
    /* color: black; */
}
.box-selected-page {
    z-index: 9999;
    top: 0;
    height: calc(100% - 50px);
}
.box-selected-page {
    background-color:#636363e6;
}
.box-selected-page h3, .box-selected-page span {
    color: #f9f9f9;
    text-transform: uppercase;
    text-shadow: 2px 0px 0px #515151;
}
.box-selected-page li {
    width: 45px;
    font-size: 11px;
    padding: 5px 0;
}
.mat-input-element {
    caret-color: #a43e39 !important;
}
/* Home seach comics */
.home-search {
    text-align: center;
    margin-top: 20px;
}
.home-search .box-thumbnails .figure {
    display: inline-block;
    background: white;
    box-shadow: 3px 5px 3px #0000006b;
    margin: 0 8px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    overflow: hidden;
}
